.explore-menu {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.explore-menu h1 {
  font-size: 36px;
  font-weight: 500;
  color: #262626;
}

.explore-menu-text {
  max-width: 60%;
  color: #808080;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
}

.explore-menu-list::-webkit-scrollbar {
  display: none;
}

.explore-menu-list-item img {
  width: 8.5vw;
  min-width: 80px;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}

.explore-menu-list-item p {
  margin-top: 10px;
  color: #747474;
  font-size: 22px;
}

.explore-menu hr {
  height: 2px;
  margin: 20px 10px;
  background-color: #e2e2e2;
  border: none;
}

.explore-menu-list-item .active {
  padding: 2px;
  border: 4px solid tomato;
}

@media (max-width: 1080px) {
  .explore-menu-text {
    max-width: 100%;
    font-size: 14px;
  }
}
